extends layout

block content
  h2 About Practalytix
  p This is an open page that people don't have to be logged in to access. It will explan some of the features/functionality of practalytix and invite users to either sign in or sign up!