doctype html
html
  head
    title= title

    //- stylesheets
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    //- scripts
  body
    h1 Practalytix
    ul
      li: a(href='/') Dashboard
      li: a(href='/auth/signup') Sign up
      li: a(href='/auth/signin') Sign in
      li: a(href='/auth/signout') Sign out 
      li: a(href='/sessions') Manage Sessions


    div#main.container-fluid
      block content
