doctype html
html
  head
    title= title

    //- stylesheets
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    //- scripts
  body
    h1 Practalytix
    ul
      each item in navData
        li: a(href=item.target) !{item.label}

    div#main.container-fluid
      block content
