#main{
  margin: 20px;
}

h1{text-align: center;}

.button-list .btn{
  margin:0 5px 5px 0;
}

.logo-text{
  font-weight:bold;
  font-size:1.5em;
}

.add-bottom-space{
  margin-bottom:5px;
}

.vert-spacer-big{
  margin-bottom:20px;
}

.small-input{
  width:4em;
}

.act-color-square{
  background-clip:content-box;
}

/* session list (cards) https://www.w3schools.com/w3css/w3css_lists.asp */
ul.session-list{
  margin:0;
  padding:0;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2)
}

ul.session-list > li{
  display:block;
  list-style:none;
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

ul.session-list > li:last-child{
  border:none;
}

.session-list-date{
  font-size:1.4em;
}

.session-list-time{
  font-style:italic;
}

.session-list-act{
  display:inline-block;
  padding:0 4px 0 4px;
  margin:0 5px 5px 0;
  background-color:rgba(217,237,247,1);
  border-radius:5px;
}



/* bootstraap tweeks */
