#main{
  margin: 20px;
}

h1{
  text-align: center;
}

.button-list .btn{
  margin:0 5px 5px 0;
}

.logo-text{
  font-weight:bold;
  font-size:1.5em;
}

.add-bottom-space{
  margin-bottom:5px;
}

.vert-spacer-big{
  margin-bottom:20px;
}

/* bootstraap tweeks */
