extends ../layout

block content
  h2 Sessions

  table.table.table-bordered
    thead
      tr
        td Date
        td Activities
        td Details
    tbody
      each session in sessions
        tr
          td= session.start
          td Activities
          td: a(href='#') details

